
<mat-card>
  <mat-card-content>
<mat-form-field appearance="outline">
  <mat-label>Default Value</mat-label>
  <input matInput  [(ngModel)]="defaultVal">
</mat-form-field>
<br>
<br>
<mat-form-field appearance="outline">
  <mat-label>Min Value</mat-label>
  <input matInput  [(ngModel)]="minVal">
</mat-form-field>
<br>
<br>
<mat-form-field appearance="outline">
  <mat-label>Max Value</mat-label>
  <input matInput  [(ngModel)]="maxVal">
</mat-form-field>
<br>
<br>
<mat-form-field appearance="outline">
  <mat-label>Step Value</mat-label>
  <input matInput [(ngModel)]="stepVal">
</mat-form-field>

<br>
<mat-slider [min]="minVal" [max]="maxVal" [step]="stepVal" >
  <input matSliderThumb [value]="defaultVal">
</mat-slider>

</mat-card-content>

</mat-card>